.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.nav-buttons {
  button{
    margin: 5px;
  }
}
.order-container {
  width: 90vh;
  margin: 0 auto;
  text-align: center;
}
.summary {
  margin-top: 15px;
  text-align: right;
}

mat-card-actions {
  justify-content: end;
}

.greets-card {
  width: 100vh;
  margin: 5px auto;
  mat-card-content {
    .greets {
      text-align: center;
      img {
        width: 20vh;
      }
    }
  }
  mat-card-actions {
    button {
      margin: 5px;
    }
  }
}
